.color-slider-container {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 64px;
}

.channel {
    text-transform: uppercase;
}